:root{
    --negro: #00100b;
    --gris:  #7e938b;
    --vOscuro: #72d875;
    --vClaro: #96ff7d;
    --VClarito:#c3f3c0;
}

html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: "Manjari", serif;
}

.ubicacion{
    width: 9rem;
    height: 9rem;
    stroke: var(--vClaro);
}

.title{
    text-align: center;
    font-size: 3.8rem;

}

.title span{
    font-size: 2rem;
    text-align: center;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto ;
}

.nav_bg{
    background-color: var(--vOscuro) ;
}

.navegacion_principal {
    display: flex;
    flex-direction: column;

}
@media (min-width: 768px) {
    .navegacion_principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion_principal a {
    display: block;
    text-align: center;
    color:var(--negro) ;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion_principal a:hover {
    background-color:var(--gris) ;
    color: var(--vClaro);
}

.hero {
    background-image: url(./img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 20px;
}